@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";
@import url(http://allfont.ru/allfont.css?fonts=bebas-neue);
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:300,300i,400,600,700,800');

$redcolor : #d92929;
$lightcolor : #ffffff;
$graycolor: #878787;
$darkGraycolor :#333333;
body{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  max-width: 1920px;
}

.clear{
  clear: both;
}


.page{
  margin-top: 10%;
}
.page-header{
  display: flex;
  justify-content: center;
  &__title {
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    &:after {
      display:block;
      clear:both;
      content : "";
      position: relative;
      left    : 0;
      top  : 25px;
      max-width:150px;
      height  : 1px;
      width   : 50%;  /* or 100px */
      border-bottom:2px solid $redcolor;
      margin:0 auto;
      padding:4px 0px;
    }
    &:before {
      display:block;
      clear:both;
      content : "";
      position: relative;
      left    : 0;
      bottom  : 30px;
      max-width:150px;
      height  : 1px;
      width   : 50%;  /* or 100px */
      border-bottom:2px solid $redcolor;
      margin:0 auto;
      padding:4px 0px;
    }
  }
}
.page-main{
  margin-top: 0;
  width: 100%;
  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  box-shadow:0 0 0 500px rgba(34, 37, 051, 0.33) inset;
  width: 100%;
  height: 932px;
}
.wrap{
  max-width: 1920px;
  margin: 0 auto;
  margin-right: 10%;
  margin-left: 10%;
  @media (min-width: 1224px) {
    margin-right: 10%;
    margin-left: 10%;
  }
  @media (min-width: 1824px) {
    margin-right: 20%;
    margin-left: 20%;
  }
  @media (max-width: 1020px) {
    margin-right: 7%;
    margin-left: 7%;
  }
  @media (max-width: 840px) {
    margin-right: 5%;
    margin-left: 5%;
  }

}
.page-picrture{
  padding-top: 7%;
  background-image: url("../img/bg-products.png");
  height: 918px;
}
.header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
  }
  &__logo{
    text-decoration: none;
    font-family: 'Bebas Neue', arial;
    color: $redcolor;
    text-transform: uppercase;
    font-size: 48px;
    span{
      margin-left: 5px;
      font-size: 36px;
      text-transform: lowercase;
    }
  }
  &__list{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    @media (max-width: 480px){
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 100%;
      width: 100%;
    }
  }
  &__item {
    margin-right: 60px;
    @media (max-width: 480px) {
      width: 85%;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $lightcolor;
    }
    &:hover{
      border-bottom: 2px solid $lightcolor;
      @media (max-width: 480px) {
        background-color: $lightcolor;
        color: $darkGraycolor;
      }
    }
  }
  &__item.active{
    border-bottom: 2px solid $lightcolor;
    @media (max-width: 480px) {
      &>a{
        color: $darkGraycolor;
      }
      background-color: $lightcolor;
      color: $darkGraycolor;
    }

  }
  &__link{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    box-sizing: border-box;

    color: $lightcolor;
    &:hover{
      border-bottom: 2px solid $lightcolor;
      @media (max-width: 480px) {
        background-color: $lightcolor;
        color: $darkGraycolor;
      }
    }
  }
}

.block-slider-main{
  margin-top: 15%;
  @media (max-width: 480px) {
      margin-top: 50%;
  }
  &__item{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__subtitle{
    font-weight: 300;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $lightcolor;
  }
  &__title{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    color: $lightcolor;
    font-size: 50px;
    @media (min-width: 1224px) {
      font-size: 50px;
    }
    @media (min-width: 1824px) {
      font-size: 60px;
    }
    @media (max-width: 480px) {
      font-size: 45px;
    }
    span{
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      line-height: 1.1;
      font-size: 30px;
      text-transform: uppercase;
      color: $lightcolor;
    }
  }
  &__btn{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: $lightcolor;
    line-height: 1.056;
    text-align: left;
    background-color: transparent;
    border: 2px $lightcolor solid;
    padding: 15px 35px;
    border-radius: 4px;
    cursor: pointer;
  }
  .slick-list{
    margin-bottom: 35px;
    margin-top: 60px;
  }
  .slick-dots{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    &>li{
      margin: 0 5px;
      &>button{
        text-indent: -9999px;
        width: 8px;
        height: 8px;
        border: none;
        line-height: 8px;
        font-size: 0;
        background-color: $lightcolor;
        border-radius: 100%;
        cursor: pointer;
        padding: 5px;
        &:focus{
          outline: none;
        }
      }
    }
    &>li.slick-active {
      & > button {
        background-color: transparent;
        border: 2px $lightcolor solid;
        transform: scale(1.2);
      }
    }
  }
}

.block-latest-product{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  @media (max-width: 1020px) {
    flex-direction: column;
    align-items: center;
  }
  &-img{
    width: 30%;
    @media (max-width: 1020px) {
      width: 50%;
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      width: 80%;
     
    }

  }
  &-content{
    width: 80%;
    height: 80%;
    margin: 10%;
    border: 1px solid $lightcolor;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    text-transform: capitalize;
    color: $lightcolor;
  }
}

.block-sale-product{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
  &-img{
    width: 47%;
    @media (max-width: 480px) {
      width: 80%;
      margin-bottom: 30px;
    }
  }
  &-content{
    width: 50%;
    height: 50%;
    margin: 20% 25% 25% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 1;
    text-transform: capitalize;
    color: $lightcolor;
    &:after {
      display:block;
      clear:both;
      content : "";
      position: relative;
      left    : 0;
      bottom  : 0;
      max-width:150px;
      height  : 1px;
      width   : 60%;  /* or 100px */
      border-bottom:2px solid $lightcolor;
      margin:0 auto;
      padding:4px 0px;
    }
    &:before {
      display:block;
      clear:both;
      content : "";
      position: relative;
      left    : 0;
      bottom  : 5px;
      max-width:150px;
      height  : 1px;
      width   : 60%;  /* or 100px */
      border-bottom:2px solid $lightcolor;
      margin:0 auto;
      padding:4px 0px;
    }
  }
}

.img1{
  background-image: url("../img/men.png");
  background-repeat: no-repeat;
  height: 418px;
  box-shadow:0 0 0 200px rgba(34, 37, 051, 0.5) inset;
}
.img2{
  background-image: url("../img/woman.png");
  background-repeat: no-repeat;
  height: 418px;
  box-shadow:0 0 0 200px rgba(34, 37, 051, 0.5) inset;
}
.img3{
  background-image: url("../img/watches.png");
  background-repeat: no-repeat;
  height: 418px;
  box-shadow:0 0 0 200px rgba(34, 37, 051, 0.5) inset;
}
.img4{
  background-image: url("../img/new-collection.png");
  background-repeat: no-repeat;
  height: 418px;
  box-shadow:0 0 0 250px rgba(34, 37, 051, 0.5) inset;
}
.img5{
  background-image: url("../img/sale.png");
  background-repeat: no-repeat;
  height: 418px;
  box-shadow:0 0 0 250px rgba(34, 37, 051, 0.5) inset;
}

.block-slider-trend{
  margin-top: 9%;
  &__item{
    width: 100%;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1020px) {
      flex-direction: column;
      align-items: center;
    }

  }
  &__img{
    width: 50%;
    flex-basis: 50%;
  }
  &-info{
    margin-left: 30px;
    width: 48%;
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1020px) {
      flex-basis: 85%;
      width: 85%;
      margin-left: 0;
    }
    @media (max-width: 840px) {
      margin-top: 20px;
    }
  }
  &__text{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
    color: $graycolor;
    @media (max-width: 1020px) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    span{
      display: block;
      text-transform: uppercase;
      @media (max-width: 1020px) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  &__subtitle{
    font-weight: 300;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $lightcolor;
    @media (max-width: 1020px) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  &__title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: $redcolor;
    font-size: 30px;
    @media (max-width: 1020px) {
      font-size: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    span{
      margin-top: 25px;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      line-height: 1.1;
      font-size: 18px;
      text-transform: capitalize;
      color: $graycolor;
      @media (max-width: 1020px) {
        margin-top: 5px;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }
  &-sizes{
    margin-top: 90px;
    margin-bottom: 30px;
    @media (max-width: 1020px) {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    @media (max-width: 480px) {
      margin-top: 15px;
      margin-bottom: 15px;
    }

  }
  &__btn{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: $darkGraycolor;
    line-height: 1.056;
    text-align: left;
    background-color: transparent;
    border: none;
    border-top: 2px $darkGraycolor solid;
    border-bottom: 2px $darkGraycolor solid;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-right: 30px;
    width: 55px;
    cursor: pointer;
    @media (max-width: 1020px) {
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media (max-width: 480px) {
      margin-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &__btn_big{
    width: 142px;
  }
  &__btn_big:hover{
    background-color: $darkGraycolor;
    color: $lightcolor;
  }
  &__btn.active, &__btn:hover{
    background-color: $darkGraycolor;
    color: $lightcolor;
  }
  .slick-list{
    margin-bottom: 35px;
    margin-top: 60px;
    @media (max-width: 1020px) {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  .slick-dots{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    @media (max-width: 1020px) {
      margin-top: 10px;
    }
    @media (max-width: 1020px) {
      margin-top: 30px;
    }
    &>li{
      margin: 0 5px;
      &>button{
        text-indent: -9999px;
        width: 8px;
        height: 8px;
        border: none;
        line-height: 8px;
        font-size: 0;
        background-color: $graycolor;
        border-radius: 100%;
        cursor: pointer;
        padding: 5px;
        &:focus{
          outline: none;
        }
      }
    }
    &>li.slick-active {
      & > button {
        background-color: transparent;
        border: 2px $redcolor solid;
        transform: scale(1.2);
      }
    }
  }
}

#block-slider-blog-prev{
  float: left;
  transform: translate(-100px, 250px);
  color: #c1c1c1;
}
#block-slider-blog-next{
  float: right;
  transform: translate(100px, -755px);
  color: #c1c1c1;
}

.block-slider-blog{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  /*margin: 0 -15px;*/
  text-align: left;
  &-item{
    width: 570px;
  }
  &__img{

  }
  &-content{


  }
  &__title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: $redcolor;
    font-size: 30px;
    @media (max-width: 480px) {
      font-size: 20px;
    }
    span{
      display: block;
      font-size: 16px;
      color: $graycolor;
      margin-top: 30px;
      a{
        text-decoration: none;
        font-weight: 400;
        line-height: 1;
        color: $graycolor;
      }
    }
  }
  &__text{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: $graycolor;
    font-weight: 100;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  &__btn{
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: $darkGraycolor;
    line-height: 1.056;
    text-align: left;
    background-color: transparent;
    border: none;
    border-top: 2px $darkGraycolor solid;
    border-bottom: 2px $darkGraycolor solid;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  .slick-slide {
    padding: 0 15px;
    @media (max-width: 480px) {
      padding: 0;
    }
  }
  .slick-list{
    //width: 98%;
  }
  .block-slider-blog-item{
    width: 560px!important;
  }
}
.class-banner{
  background-image: url("../img/banner-footer.png");
  height: 250px;
  box-shadow:0 0 0 500px rgba(34, 37, 051, 0.5) inset;
  @media (max-width: 480px) {
    text-align: center;
  }
  &__text{
    color: $lightcolor;
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__input{
    color: $lightcolor;
    background: url(../img/email.png) no-repeat scroll 30px 18px;
    padding: 15px 30px;
    width: 60%;
    border: 1px $lightcolor solid;
    border-radius: 4px;
    @media (max-width: 480px) {
      width: 95%;
      margin-bottom: 15px;
    }
  }
  &__btn{
    font-size: 18px;
    color: $darkGraycolor;
    line-height: 1.056;
    text-align: left;
    background-color: $lightcolor;
    border: 2px $lightcolor solid;
    text-align: center;
    padding: 15px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    width: 20%;
    cursor: pointer;
    @media (max-width: 1020px) {
      font-size: 15px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  .wrap{
    height: 100%;
  }
}
.footer-r{
  display: flex;
  justify-content: space-between;
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.block-footer-copyright{
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    color: $redcolor;
  }
}


