<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<title>gulp-scss-starter</title>
		//= includes/head.html
	</head>
	<body>
		<div class="page page-main">
			<div class="wrap">
				<div class="header">
					<a href="#" class="header__logo">Brand<span>ly</span></a>
					<ul class="header__list">
						<li class="header__item active"><a href="#" class="header__link">Home</a></li>
						<li class="header__item"><a href="#" class="header__link">shop</a></li>
						<li class="header__item"><a href="#" class="header__link">brands</a></li>
						<li class="header__item"><a href="#" class="header__link">about</a></li>
						<li class="header__item"><a href="#" class="header__link">contact</a></li>
					</ul>
				</div>
				<div class="block-slider-main">
					<div class="block-slider-main__item item-1">
						<p class="block-slider-main__subtitle">Spring / Summer Collection</p>
						<h2 class="block-slider-main__title">UP TO 60% DISCOUNT ON NEW ARRIVALS
							<span>TRENDING NEW ITEMS,FROM CREATORS AROUND THE WORLD</span>
						</h2>
						<button class="block-slider-main__btn">SHOP NOW</button>
					</div>
					<div class="block-slider-main__item item-2">
						<p class="block-slider-main__subtitle">Luxury Man</p>
						<h2 class="block-slider-main__title">UP TO 60% DISCOUNT ON NEW ARRIVALS
							<span>TRENDING NEW ITEMS,FROM CREATORS AROUND THE WORLD</span>
						</h2>
						<button class="block-slider-main__btn">SHOP NOW</button>
					</div>
					<div class="block-slider-main__item item-3">
						<p class="block-slider-main__subtitle">Luxury Woman</p>
						<h2 class="block-slider-main__title">UP TO 60% DISCOUNT ON NEW ARRIVALS
							<span>TRENDING NEW ITEMS,FROM CREATORS AROUND THE WORLD</span>
						</h2>
						<button class="block-slider-main__btn">SHOP NOW</button>
					</div>
					<div class="block-slider-main__item item-4">
						<p class="block-slider-main__subtitle">Luxury</p>
						<h2 class="block-slider-main__title">UP TO 60% DISCOUNT ON NEW ARRIVALS
							<span>TRENDING NEW ITEMS,FROM CREATORS AROUND THE WORLD</span>
						</h2>
						<button>SHOP NOW</button>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="page-header">
					<div class="page-header__title">Latest Products</div>
				</div>
				<div class="block-latest-product">
					<div class="block-latest-product-img img1">
						<div class="block-latest-product-content">
							<p class="block-latest-product__title">Men</p>
						</div>
					</div>
					<div class="block-latest-product-img img2">
						<div class="block-latest-product-content">
							<p class="block-latest-product__title">Women</p>
						</div>
					</div>
					<div class="block-latest-product-img img3">
						<div class="block-latest-product-content">
							<p class="block-latest-product__title">Watches</p>
						</div>
					</div>
				</div>
				<div class="block-sale-product">
					<div class="block-sale-product-img img4">
						<div class="block-sale-product-content">
							<p class="block-sale-product__title">40% Off New Autumn Collection</p>
						</div>
					</div>
					<div class="block-sale-product-img img5">
						<div class="block-sale-product-content">
							<p class="block-sale-product__title">MEGA SALE ON ITEMS FROM SPIRIT COLLECTION</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page page-picrture">
			<div class="wrap ">
				<div class="page-header">
					<div class="page-header__title">Trending Items</div>
				</div>
				<div class="block-slider-trend">
					<div class="block-slider-trend-item">
						<div class="block-slider-trend-content">
							<img class="block-slider-trend__img" src="../img/product1.png" alt="product1">
							<div class="block-slider-trend-info">
								<p class="block-slider-trend__title">NATHAN STEWART JACKET<span>Summer/Autumn Collection</span></p>
								<p class="block-slider-trend__text">Classic Nathan Stewart Jacket from his latest collection.
									This item is loved by many just because of it’s simle style.
									Simple lines,lovely texture,it suits almost everybody.
									It comes in six different colors,and all sizes.</p>
								<p class="block-slider-trend__text"><span>FASHION TIP:</span>
									With this jacket,Nathan Stewart sunglasses go hand in hand!</p>
								<div class="block-slider-trend-sizes">
									<button class="block-slider-trend__btn">M</button>
									<button class="block-slider-trend__btn">L</button>
									<button class="block-slider-trend__btn">XL</button>
									<button class="block-slider-trend__btn active">XXL</button>
								</div>
								<div class="block-slider-trend-buttons">
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SHOP NOW</button>
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SIZE GUIDE</button>
								</div>
							</div>
						</div>
					</div>
					<div class="block-slider-trend-item">
						<div class="block-slider-trend-content">
							<img class="block-slider-trend__img" src="../img/product1.png" alt="product1">
							<div class="block-slider-trend-info">
								<p class="block-slider-trend__title">NATHAN STEWART JACKET<span>Summer/Autumn Collection</span></p>
								<p class="block-slider-trend__text">Classic Nathan Stewart Jacket from his latest collection.
									This item is loved by many just because of it’s simle style.
									Simple lines,lovely texture,it suits almost everybody.
									It comes in six different colors,and all sizes.</p>
								<p class="block-slider-trend__text"><span>FASHION TIP:</span>
									With this jacket,Nathan Stewart sunglasses go hand in hand!</p>
								<div class="block-slider-trend-sizes">
									<button class="block-slider-trend__btn">M</button>
									<button class="block-slider-trend__btn">L</button>
									<button class="block-slider-trend__btn active">XL</button>
									<button class="block-slider-trend__btn">XXL</button>
								</div>
								<div class="block-slider-trend-buttons">
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SHOP NOW</button>
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SIZE GUIDE</button>
								</div>
							</div>
						</div>
					</div>
					<div class="block-slider-trend-item">
						<div class="block-slider-trend-content">
							<img class="block-slider-trend__img" src="../img/product1.png" alt="product1">
							<div class="block-slider-trend-info">
								<p class="block-slider-trend__title">NATHAN STEWART JACKET<span>Summer/Autumn Collection</span></p>
								<p class="block-slider-trend__text">Classic Nathan Stewart Jacket from his latest collection.
									This item is loved by many just because of it’s simle style.
									Simple lines,lovely texture,it suits almost everybody.
									It comes in six different colors,and all sizes.</p>
								<p class="block-slider-trend__text"><span>FASHION TIP:</span>
									With this jacket,Nathan Stewart sunglasses go hand in hand!</p>
								<div class="block-slider-trend-sizes">
									<button class="block-slider-trend__btn">M</button>
									<button class="block-slider-trend__btn active">L</button>
									<button class="block-slider-trend__btn">XL</button>
									<button class="block-slider-trend__btn">XXL</button>
								</div>
								<div class="block-slider-trend-buttons">
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SHOP NOW</button>
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SIZE GUIDE</button>
								</div>
							</div>
						</div>
					</div>
					<div class="block-slider-trend-item">
						<div class="block-slider-trend-content">
							<img class="block-slider-trend__img" src="../img/product1.png" alt="product1">
							<div class="block-slider-trend-info">
								<p class="block-slider-trend__title">NATHAN STEWART JACKET<span>Summer/Autumn Collection</span></p>
								<p class="block-slider-trend__text">Classic Nathan Stewart Jacket from his latest collection.
									This item is loved by many just because of it’s simle style.
									Simple lines,lovely texture,it suits almost everybody.
									It comes in six different colors,and all sizes.</p>
								<p class="block-slider-trend__text"><span>FASHION TIP:</span>
									With this jacket,Nathan Stewart sunglasses go hand in hand!</p>
								<div class="block-slider-trend-sizes">
									<button class="block-slider-trend__btn active">M</button>
									<button class="block-slider-trend__btn">L</button>
									<button class="block-slider-trend__btn">XL</button>
									<button class="block-slider-trend__btn">XXL</button>
								</div>
								<div class="block-slider-trend-buttons">
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SHOP NOW</button>
									<button class="block-slider-trend__btn block-slider-trend__btn_big">SIZE GUIDE</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="page-header">
					<div class="page-header__title">From The Blog</div>
				</div>
				<a id='block-slider-blog-prev' href="#"><i class="fas fa-chevron-left fa-5x"></i></a>
				<div class="block-slider-blog">
					<div class="block-slider-blog-item">
						<img class="block-slider-blog__img" src="../img/blog1.png" alt="prod1">
						<div class="block-slider-blog-content">
							<p class="block-slider-blog__title">GERMAN FASHION WIZARDS<span> <a href="#">James Steed</a>   |   <a href="#">Fashion</a> </span></p>
							<p class="block-slider-blog__text">This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the
								European fashion scene and this year at Paris Fashion Week they
								introduced their new collection. </p>
							<button class="block-slider-blog__btn">read more</button>
						</div>
					</div>
					<div class="block-slider-blog-item">
						<img class="block-slider-blog__img" src="../img/blog2.png" alt="prod1">
						<div class="block-slider-blog-content">
							<p class="block-slider-blog__title">ANNE STEWART’S SUNGLASSES<span> <a href="#">JBy Marry Beard</a>   |   <a href="#">Trending</a> </span></p>
							<p class="block-slider-blog__text">Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create
								in her small studio in London and i was amazed at how every little detail gets included in her creaions.
								From frames,to glass thickness she blew me away...</p>
							<button class="block-slider-blog__btn">read more</button>
						</div>
					</div>
					<div class="block-slider-blog-item">
						<img class="block-slider-blog__img" src="../img/blog2.png" alt="prod1">
						<div class="block-slider-blog-content">
							<p class="block-slider-blog__title">ANNE STEWART’S SUNGLASSES<span> <a href="#">JBy Marry Beard</a>   |   <a href="#">Trending</a> </span></p>
							<p class="block-slider-blog__text">Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create
								in her small studio in London and i was amazed at how every little detail gets included in her creaions.
								From frames,to glass thickness she blew me away...</p>
							<button class="block-slider-blog__btn">read more</button>
						</div>
					</div>
					<div class="block-slider-blog-item">
						<img class="block-slider-blog__img" src="../img/blog1.png" alt="prod1">
						<div class="block-slider-blog-content">
							<p class="block-slider-blog__title">GERMAN FASHION WIZARDS<span> <a href="#">James Steed</a>   |   <a href="#">Fashion</a> </span></p>
							<p class="block-slider-blog__text">This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the
								European fashion scene and this year at Paris Fashion Week they
								introduced their new collection. </p>
							<button class="block-slider-blog__btn">read more</button>
						</div>
					</div>
				</div>
				<a id='block-slider-blog-next' href="#"><i class="fas fa-chevron-right fa-5x"></i></a>
			</div>
		</div>

		<footer>
			<div class="class-banner">
				<div class="wrap">
					<div class="footer-content">
						<p class="class-banner__text">SUBSCRIBE TO OUR NEWSLETTER TO RECEIVE LATEST NEWS AND OFFERS</p>
						<div class="footer-r">
							<input class="class-banner__input">
							<button class="class-banner__btn">subscribe</button>
						</div>
					</div>
				</div>
			</div>
			<div class="block-footer-copyright">
				<p>Made with <i class="fas fa-heart"></i> by WebDonut.net</p>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script>
			$(document).ready(function(){
				$('.block-slider-main').slick({
						dots: true,
						arrows: false
					}
				);
                $('.block-slider-trend').slick({
                        dots: true,
                        arrows: false
                    }
                );
				const sliderBlog = $('.block-slider-blog').slick({
						dots: false,
						infinite: true,
						arrows:false,
						speed: 300,
						adaptiveHeight: true,
						slidesToShow: 2,
						slidesToScroll: 2,
						centerMode: true,
						centerPadding: '20px'/*,
						variableWidth: true*/
					}
				);


				$('#block-slider-blog-prev').on('click',(ev)=> {
                    sliderBlog.slick('slickPrev');
					ev.preventDefault();
				});
				$('#block-slider-blog-next').on('click',(ev)=> {
                    sliderBlog.slick('slickNext');
					ev.preventDefault();
				});
			});
		</script>
	</body>
</html>